body{
	background-color: #A5D6A7;
}
.bgputih{
	background-color: #fff;
}



.bggrid{
	margin-top: -20px;
	background-color: #f0f0f0;
	overflow: hidden;
	width: 100%;
	height:100vh;
	margin: 0;
   	padding: 0;
   	top: 0;
   	left: 0;
   	overflow-y: auto;
}
.bggrid h4{
	padding: 0px 0px 0px 0px;
    color: rgba(0,0,0,0.57);
    font-size: 1em;
}
.bggrid .card > .card-article{
	text-align: center;
}
.bggrid .card > .card-article .col-xs-8{
	color: rgba(0,0,0,0.57);
    font-size: 1.3em;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .5px;
    /*position: relative;
    transform: translateY(90%);*/
}


.card{
	margin-top: 15px;
	background-color: #fff;
    /*box-shadow: 0px 3px 5px #4a4a4a;*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 60%;
}
.card-title{
	padding: 0px 0px 15px;
    font-size: 1em;
    height: 20%;
    text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.card-title > a, .card-title > a:hover, .card-title > a:active{
	color: #4a4a4a;
	text-decoration: none;
}
.card-article{
	padding: 20px 30px;
    color: #505050;
    /*height: 420px;*/
    height: auto;
}

.card-image{
	width: 100%;
	height: 5%;
	padding: 0px;
}
.card-image > img{
	border-radius: 2px 2px 0px 0px;
	width: 150px;
	height: 150px;
}

.card-image2{
	width: 150px;
	height: 150px;
	padding: 0px;
}
.card-image2 > img{
	border-radius: 2px 2px 0px 0px;
	width: 150px;
	height: 150px;
}
.card-content{
	padding: 25px 0px;
    text-align: justify;
    font-size: 1.2em;
    height: 73%;
}
.card-button > a{
	padding: 0px;
	color: #8FBC94;
	font-weight: 500;
	font-size: 1em;
}
.card-button > input{
	padding: 0px;
	color: #8FBC94;
	font-weight: 500;
	font-size: 1em;
	background-color: #fff;
}
.card-button > input:hover,.card-button > input:active{
	color: #56445D;
}

.card-date{
	color: #aaa;
}