<template>
  <div class="container-fluid p-0 wrap-content">
    <header>
      <div class="main-header mb-4">
          <router-link :to="{ name: ($cookies.get('spedrestoId')) ? 'home-user' : 'home' }" class="logo">
            <img src="../../assets/logo.png" alt="">
            <span class="app-name"><b>SPEED</b>RESTO</span>
            
          </router-link>
           <div class="button-group">
            <router-link :to="{ name: 'cart' }"  class="btn-header btn-chart">
              <span v-if="cartData.length" class="badge badge-success float-right">{{cartData.length}}</span>
            </router-link>
            <div v-if="$cookies.get('spedrestoId')" @click="logout()" class="btn-header btn-logout"></div>
          </div>
        </div>
    </header>
    <section class="">
      <div class="row justify-content-center mx-1">
        <h4>{{$cookies.get('restoName')}}</h4>
        <div class="col-12 mb-3 text-center">
          <button @click="$refs.modalKode.show()" class=" btn btn-success btn-sm">Change Hotel</button>
        </div>
      </div>
      <div class="row justify-content-center mx-1">
        <div class="col-md-4 mb-3">
          <div class="input-group mb-3">
            <input type="text" v-model="filter" class="form-control border-right-0" placeholder="Search" aria-label="search" aria-describedby="basic-addon2">
            <div class="input-group-append ">
              <span class="input-group-text bg-white border-left-0" id="basic-addon2"><span class="fa fa-search"></span></span>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row w-100 search-bar mx-3 mx-sm-5 mx-md-0 justify-content-center">
        <div class="col-md-4 mb-3 ">
          
        </div>
      </div> -->
      <div class="row justify-content-center">
        <div class="col-lg-11 col-12">
          <div class="row mx-1">
            <p v-if="!filterdata().length">No data available</p>
            <div v-for="(d,i) in filterdata()" :key="i" class="col-lg-4 col-md-6 col-12 pb-4">
              <div class="card-content">
                <div class="top-resto d-inline-block">
                  <img :src="`${API_URL}/storage/photo_menu_m/${d.pathPhoto}`" alt="">
                  <span>{{d.name}}</span>
                </div>
                <div class="ket-resto text-left">
                  <p>{{d.name_resto}}</p>
                  <p><strike>{{formatPrice(d.price)}}</strike> &nbsp;{{formatPrice(d.price_promo)}}</p>
                
                  <p>{{d.tgl_mulai_promo}} - {{d.tgl_akhir_promo}}</p>
                  <p>({{d.waktu_mulai_promo}} - {{d.waktu_akhir_promo}})</p>
                </div>
                <div @click="showModal(d.id_menu)" class="buttonpanel">
                  <img  src="../../assets/add.png" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-11 col-12">
        <div class="row py-3 ">
          <div v-for="(d,i) in filterdata()" :key="i" class="col-lg-4 col-md-6 col-12 pb-4">
            <div class="card-content">
              <div class="top-resto d-inline-block">
                <img :src="`${API_URL}/storage/photo_menu_m/${d.pathPhoto}`" alt="">
                <span>{{d.name}}</span>
              </div>
              <div class="ket-resto text-left">
                <p>{{d.name_resto}}</p>
                <p><strike>{{formatPrice(d.price)}}</strike>{{formatPrice(d.price_promo)}}</p>
              
                <p>{{d.tgl_mulai_promo}} - {{d.tgl_akhir_promo}}</p>
                <p>({{d.waktu_mulai_promo}} - {{d.waktu_akhir_promo}})</p>
              </div>
              <div class="buttonpanel">
                <img src="../../assets/add.png" alt="">
              </div> 
            </div>
          </div>
          
        </div>
      </div> -->
      
    </section>
    <b-modal ref="myModalRef" hide-footer >
      <div class="d-block text-center">
        <img :src="`${API_URL}/storage/photo_menu_m/${datafilter.pathPhoto}`" alt="">
        <h4 class="my-3 text-left">Menu : {{datafilter.name}}</h4>
        <p class="my-3 text-left">Price : {{datafilter.status_promo == '1' ? formatPrice(datafilter.price_promo) : formatPrice(datafilter.price)}}</p>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label text-left">Qty</label>
          <div class="col-sm-10">
            <input v-model="qty" type="number" class="form-control" id="inputPassword" placeholder="">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label text-left">Note</label>
          <div class="col-sm-10">
            <textarea v-model="notes" id="" cols="30" rows="10" class="form-control"></textarea>
          </div>
        </div>
        
        <button class="float-right btn btn-success" @click="setcart()" >
                  Add to cart
          <!-- <img src="../../assets/add.png" alt=""> -->
        </button>
      </div>
        <p class="text-left">Total : {{datafilter.status_promo == '1' ? formatPrice(datafilter.price_promo*qty) : formatPrice(datafilter.price*qty)}}</p>
      <!-- <b-btn class="mt-3" variant="outline-danger" block >Close Me</b-btn> -->
    </b-modal>
    <b-modal ref="modalKode" hide-footer >
      <form @submit.prevent="submitkode()">
        <h4 class="text-center">Input Hotel Code</h4>
        <div v-if="reskode !=''" class="alert alert-danger" role="alert">
          {{reskode}}
        </div>
        <div class="form-group">
          <input type="text" class="form-control" v-model="koderesto" placeholder="Input hotel code">
        </div>
        <div class="form-group">
          <button class="btn btn-success" type="submit">Check</button>
        </div>
      </form>
      <!-- <b-btn class="mt-3" variant="outline-danger" block >Close Me</b-btn> -->
    </b-modal>
  </div>
</template>
<script>
import {mapActions,mapState} from 'vuex';

export default {
  data(){
    return{
      data:[],
      koderesto:'',
      filter:"",
      datafilter:[],
      qty:0,
      notes:"",
      reskode:'',
    }
  },
  mounted(){
    this.checkKodeResto();
  },
  computed:{
    ...mapState(['API_URL']),
    ...mapState('cart',['cartData']),
  },
  methods:{
    ...mapActions('resto',['getFoodGame']),
    ...mapActions('cart',['pushCart','resetCart','reCreate']),
    checkKodeResto(){
      if(this.$cookies.isKey('restoId')){
        this.getData(this.$cookies.get('restoId'));
      }else{
        console.log(this.$refs);
        this.reskode = '';
        this.koderesto='';
        this.$refs.modalKode.show();
      }
    },
    submitkode(){
      this.getData('',this.koderesto)
    },
    getData(id,kode=''){
      const self = this;
      var fd = new FormData();
      fd.append('id_customer',0);
      if(id != ""){
        fd.append('id_resto',id);
        fd.append('nama_resto',self.$cookies.get('restoName'));
      }else{
        fd.append('id_resto',0);
      }
      if(kode != ""){
        fd.append('kode_resto',kode);
      }
      this.getFoodGame(fd).then(res=>{
        if(!res.error){
          console.log(true)
          self.data = res.menu
          self.$cookies.remove("restoId");
          self.$cookies.set('restoId',res.id_resto)
          self.$cookies.set('restoName',res.nama_resto)
          self.$refs.modalKode.hide();
        }else{
          self.reskode = "Hotel Not Found"
          setTimeout(()=>{
            self.reskode = ""
          },3000)
        }
      })
    },
    filterdata(){
      return this.data.filter(row => row.name.toLowerCase().includes(this.filter.toLowerCase()));
    },
    checkChart(){
      if(this.cartData.length){
        if(!this.cartData.filter(rows => rows.resto == this.datafilter.id_resto).length){
          this.$swal({
            title: 'Warning',
            text: "You place an order on a different hotel and will delete the contents of your cart, continue ?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
          }).then((result) => {
            if (result.value) {
              this.resetCart();
              console.log(this.cartData)
            }
          })
        }
      }
    },
    setcart(){
      if(this.cartData.length){
        if(!this.cartData.filter(rows => rows.resto == this.datafilter.id_resto).length){
          this.$swal({
            title: 'Warning',
            text: "You place an order on a different hotel and will delete the contents of your cart, continue ?",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
          }).then( async(result) => {
            if (result.value) {
              await this.resetCart();
              this.pushcart();
              console.log(this.cartData)
            }
          })
        }else{
          this.pushcart()
        }
      }else{
        this.pushcart()

      }
      
      this.$refs.myModalRef.hide();

    },
    pushcart(){
      var keyfound = null;
      var self = this;
      if(this.cartData.length){
        for(var key in this.cartData){
          var row = this.cartData[key];
          if(row.id_menu == self.datafilter.id_menu){
            console.log("masuk"+key)
            keyfound = parseInt(key);
          }
        }
      }
      console.log(keyfound)
      if(keyfound != null){
       var dataCart = this.cartData;
       dataCart[keyfound].qty += parseInt(this.qty) 
       dataCart[keyfound].notes += this.notes 
       this.reCreate(dataCart);
      }else{

        var data = {
          id_menu: this.datafilter.id_menu,
          nama: this.datafilter.name,
          harga: this.datafilter.price,
          harga_promo : this.datafilter.price_promo,
          qty:parseInt(this.qty),
          resto:this.datafilter.id_resto,
          status_promo: this.datafilter.status_promo,
          tgl_akhir_promo: this.datafilter.tgl_akhir_promo,
          waktu_akhir_promo: this.datafilter.waktu_akhir_promo,
          path_photo: this.datafilter.pathPhoto,
          id_promo:this.datafilter.id_promo,
          notes:this.notes,
        }
        this.pushCart(data)
      }
      console.log(this.cartData);
    },
    showModal (id) {
      this.datafilter = [];
      this.notes="";
      this.qty = 1;
      this.datafilter =  this.data.filter(row=>row.id_menu ==id)[0];
      this.$refs.myModalRef.show();
    },
  }
}
</script>
<style lang="scss" scoped>
$merah : #e74c3c;
header{
  position: fixed;
  z-index: 9;
}
header .main-header{
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 6px 0;
  height: 15vh;
}
header .logo > img{
  height: 50px;
  width: 50px;
}
  section{
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 18vh;

  }
  .wrap-content{
    min-height: calc(100vh - 34px);
    background: #eff1f7;
  }
  .logo{
    top: 50%;
    bottom:unset;
    transform: translateY(-50%);

  }
  .search-bar *{
    margin: 0 !important;
  }
  .card-content{
    width: 100%;
    height: 100%;
    padding: 15px !important;
    & .top-resto{
      width: 100%;
      font-size: 25px;
      font-weight: bold;
      & img{
        margin-right: 10px;
        float:left;
        height: 80px;
        width: 80px;
        object-fit: cover;
      }
    }
    & .ket-resto{ 
      margin-top: 10px;
      margin-right: 50px;
      & P{
        padding: 0;
        margin: 0;
        & strike{
          font-size: 14px;
        }
      }
    }
    & img{
      height: 80px;
      width: 80px;
    }
  }
  .buttonpanel{
    background: $merah;
    position: absolute;
    bottom: 16px;
    border-radius: 50px;
    right: 22px;
    & img{
      height: 20px;
      width: 20px;
      margin: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    .card-content .top-resto{
      font-size: 20px;
      font-weight: bold;
    }
  }
</style>


