/*-----------------------------------------------------
	card.css
	Isinya Cuman Css Untuk Membuat Card Material Design

	by: Keramas Wiguna;

	Made with ♥ in Denpasar
--------------------------------------------------------*/
.card{
	background-color: #fff;
    box-shadow: 0px 3px 5px #4a4a4a;
    border-radius: 2px;
}
.card-title{
	padding: 0px 0px 15px;
    font-size: 1em;
    height: 20%;
    text-overflow: initial; /*ellipsis*/
	white-space: normal;/*nowrap*/
    overflow: hidden;
    width: 100%;
    height: auto;
}
.card-title > a, .card-title > a:hover, .card-title > a:active{
	color: #4a4a4a;
	text-decoration: none;
}
.card-article{
	padding: 20px 30px;
    color: #505050;
    /*height: 420px;*/
    height: auto !important;
}
.card-image{
	width: 100%;
	height: 5%;
	padding: 0px;
}
.card-image > img{
	border-radius: 2px 2px 0px 0px;
	width: 100%;
}
.card-content{
	padding: 25px 0px;
    text-align: left;
    font-size: 1.2em;
    height: 73%;
    letter-spacing: .7px;
}
.card-button {
	width: 100%;
    height: 23px;
    position: relative;
    bottom: 0px;
}
.card-button > a{
	padding: 0px;
	color: #8FBC94;
	font-weight: 500;
	font-size: 1em;
}
.card-button > input{
	padding: 0px;
	color: #8FBC94;
	font-weight: 500;
	font-size: 1em;
	background-color: #fff;
}
.card-button > input:hover,.card-button > input:active{
	color: #56445D;
}

.card-date{
	color: #aaa;
}