/*---------------------------------
Pengaturan Umum
-----------------------------------*/
/*importing source*/
@import url('card.css');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
/*- end of importing --------------*/
body{
	background-color: #eee;
	font-family: Roboto;
}
/*.container-plus{
	padding: 0px;
}*/
img{
	max-width: 100%;
	max-height: 100%;
}
hr{
	border-top: 2px solid #4a4a4a;
}
td > a, td > a:hover, td > a:active {
	color: #000;
	text-decoration: none;
}
p.lead{
	text-indent: 0px;
}
.black{
	color: black !important;
}
.border{
	border: 1px dashed #000;}
.fa-heart{
	color:#e85a71;
}
.right{
	text-align: right;
}
.crop{
	width: 100%;
	overflow: hidden;
}
.img-mid{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 15px 0px;
}
.input-group-addon{
	background-color: #548687;
	border: 1px solid #548687;
	color: #eee;
}
.center-align{
	text-align: center;
}
.errorBlock{
	color: red;
}
.berita-utama-lain{
	margin-top: 20px;
}
/*---------------------------------
Bagian Header
-----------------------------------*/
/*banner*/
.banner{
	/*background-position: center;
	width: 100%;*/
	height: 0px;
	visibility: hidden;
	/*background: url('../img/banner-sementara.jpg');
	background-position: 0px 0px 0px -6px;*/ /*ini cuman sementara, inget entar di ilangin atau di edit*/
}
/*navbar*/
.navbar-brand-sisdiklat{
	visibility: visible;
	font-weight: 700;
	font-size: 1.8em;
}
.navbar-sisdiklat{
	margin-bottom: 0px;
	background-color: #fff;
	border-radius: 0px;
	border: 0px;
	box-shadow: 0px 3px 3px #4a4a4a;
}
.navbar-default .navbar-nav>li>a{
	color: #56445D;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover{
	background-color: #fff;
	font-weight: 500;
}
.dropdown-menu > li > a:hover{
	background-color: #548687;
	color: #fff;
}

/*---------------------------------
Bagian Section
-----------------------------------*/

.little-box{
	width: 5px;
	height: 45px;
	float: left;
	background-color: #258cc7;
	margin-right: 10px;
}

.judul-section{
	color: #fff;
	font-weight: 500;
	z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
	font-size: 2.3em;
}

/*berita utama*/
.berita-utama{
	background: url("../img/background.jpg");
    height: 350px;
    z-index: -1;
    background-size: cover;
    display: none;
}
.berita-utama .img-card{
	height: 123px;
}
.carousel-inner {
	height: 350px;
    margin-top: -85px;
}
.carousel-control{
	visibility: hidden;
}
.card-berita-utama{
	height: 123px;
    width: 77.8%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 123px;
}
.carousel-indicators .active{
	background-color: #548687;
	background-color: #212121;
}
.carousel-indicators li{
	background-color: #fff;
	border: 0px;
}
.butt-bulet{
	background-color: #fff;
    border-radius: 100px;
    padding: 5px;
    color: #56445D;
    width: 45px !important;
    height: 45px !important;
    box-shadow: 0px 3px 5px #4a4a4a;
}
.kanan{
	left: 70%;
    transform: translateX(-70%);
}
.card-image-berita-utama{
	width: 50%;
    height: 123px;
    padding: 0px;
}
.card-image-berita-utama > img{
	border-radius: 0px 2px 2px 0px;
	width: 100%;
}
.card-title-berita-utama{
	font-size: 1.5em;
	/*text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
    width: 10em;
    height: 10em;*/
}
.card-button-berita-utama > a{
	color: #8FBC94;
	font-size: 1.2em;
	visibility: hidden;
}
.card-button > .btn.focus, .card-button > .btn:focus, .card-button > .btn:hover {
	color: #548687;
	text-decoration: none;
}
.card-berita-utama > .card-article > .card-content{
	visibility: hidden;
	height: 0;
}
.card-berita-utama > .card-article{
	height: 123px;
}
/*berita terbaru*/
.berita-terbaru{
	margin-top: 30px;
}
.berita-terbaru > .judul-section{
	font-size: 2em;
}
.article-berita-terbaru > .col-md-4 > .card{
	margin-bottom: 35px;
}
.judul-section > .sub > a{
	font-weight: 400;
    font-size: 0.6em;
    color: #548687;
}
.judul-section > .sub > a:hover, .judul-section > .sub > a:focus, .judul-section > .sub > a:active{
	text-decoration: none;
}
.card-image-berita-terbaru{
	max-height: 237px;
	min-height: 237px;
}
.card-image-berita-terbaru > img{
	position: relative;
	z-index: 1;
	min-height: 237px;
}
.card-article-berita-terbaru{
	height: 300px;
	position: relative;
	z-index: 2;
	background-color:#fff;
}
.card-title-berita-terbaru{
	font-size: 1.7em;
}
/*Diklat terbaru*/
.diklat-terbaru{
	margin-top: 0px;
}
.diklat-terbaru > .judul-section{
	font-size: 2em;
}
.card-diklat-terbaru{
	/*height: 270px;*/
	overflow: auto;
}
.diklat{
	padding: 20px 0px;
}
.judul-diklat{
	padding: 0px;
	font-weight: 500;
	font-size: 1.3em;
}
.judul-diklat > a, .judul-diklat > a:hover, .judul-diklat > a:active{
	color: #000;
	text-decoration: none;
}
.tanggal-diklat{
	padding: 0px;
	color: #aaa;
}

/*---------------------------------
Bagian Footer
warna
#56445e -> yg atas
#332836 -> yg bawah
-----------------------------------*/
footer{
	margin-top: 50px;
}
.footer-atas{
	/*background-color: #56445e;*/
	background-color: #424242;
	color:#fff;
	padding: 40px 0px;
	font-weight: 400;
}
.footer-bawah{
	/*background-color: #332836;*/
	background-color: #212121;
	color: #807e83;
	padding: 10px 0px 5px 0px;
	font-weight: 500;
}
.judul-footer{
    padding: 50px 0px 10px 0px;
    font-size: 1.8em;
}
.content-footer{
	padding: 0px;
}
.sosmed{
    font-size: 3em;
    margin-top: 0px;
}
.sosmed > a,.content-footer a{
    color: #fff;
}

/*
------------------------
Untuk Semua .page
------------------------
*/
.page{
	margin-top: 25px;
}
.page .judul-section{
	padding: 0px;
}
.page .card-title{
	font-size: 2em;
}


/*
------------------------
Khusus .page-berita
------------------------
*/
.page-berita{
	margin-top: 0px;
}
.page-berita .container, .page-berita .col-md-12, .page-berita .col-md-8{
	padding: 0px;
}
.page-berita .card-title{
	text-overflow: initial;
	white-space: normal;
}
.beritanya{
	margin-bottom: 50px;
}
.berita-lainnya > .card{
	margin: 10px 0px 10px 0px;
	height: auto;
}
.berita-lainnya > .card > .card-article{
	height: auto;
}
.berita-lainnya > .card > .card-article > .card-title{
	font-size: 1.3em;
}

/*
------------------------
Khusus .page-beritas
------------------------
*/
.page-beritas > .container > .col-md-12 > .col-md-4{
	margin: 10px 0px 30px 0px;
}
.page-beritas > .container > .col-md-12 {
	padding-left: 0px;
	padding-right: 0px;
}
.page-beritas .card-title{
	text-overflow: initial;
	white-space: normal;
}
.page-beritas .card-article{
	height: auto !important;
}
.page-beritas .pagination > .active > a{
	background-color: #548687;
    border-color: #548687;
    color: #fff;
}
.page-beritas .pagination > li > a{
	color: #548687;
}

/*
------------------------
Khusus .page-diklats
------------------------
*/
.page-diklats .card-title{
	padding: 0px;
	font-size: 2em;
}
.page-diklats .card-article{
	height: auto;
}
.page-diklats .pagination > .active > a{
	background-color: #548687;
    border-color: #548687;
    color: #fff;
}
.page-diklats .card-title{
	font-size: 1.2em;
}
.page-diklats .card-title > .col-md-8{
	padding-bottom: 20px;
}
.page-diklats .pagination > li > a{
	color: #548687;
}


/*
------------------------
Khusus .page-diklat
------------------------
*/
.page-diklat{
	margin-top: 0px;
}
.page-diklat .container, .page-diklat .col-md-12, .page-diklat .col-md-8{
	padding: 0px;
}
.page-diklat .card-button > a{
	margin-left: -30px;
}

/*
------------------------
Khusus .page-login
------------------------
*/
.page-login .card-title{
	padding: 0px;
}

/*
------------------------
Khusus .page-reg-aparatur
------------------------
*/
.page-reg-aparatur .card-title{
	padding: 0px;
}

/*
------------------------
Khusus .page-reg-umum
------------------------
*/
.page-reg-umum .card-title{
	padding: 0px;
}

/*
------------------------
Khusus .page-info-sarana
------------------------
*/
.page-info-sarana .card-image{
	max-width: 300px;
}
.page-info-sarana .card-image > img{
	border-radius: 2px !important;
}
.page-info-sarana .card-article h3{
	margin-top: 0px;
}



/*
------------------------
Multi Level DropDown
------------------------
*/
.dropdown-menu>li
{	position:relative;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display:none;
    margin-top: -1px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	border-left-color:#fff;
	box-shadow:none;
}
.right-caret:after
 {	content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid black;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}
.left-caret:after
{	content:"";
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-right: 4px solid black;
    display: inline-block;
    height: 0;
    opacity: 0.8;
    vertical-align: middle;
    width: 0;
	margin-left:5px;
}

/*
FLAT UI
_______
#2C3E50
#E74C3C
#ECF0F1
#3498DB
#2980B9

SANDY STONE BEACH OCEAN DIVER
_____________________________
#E6E2AF
#A7A37E
#EFECCA
#046380
#002F2F

SEA WOLF
________
#DC3522
#D9CB9E
#374140
#2A2C2B
#1E1E20

VINTAGE RALPH LAUREN
____________________
#703030
#2F343B
#7E827A
#E3CDA4
#C77966

GETTYSBURG
__________
#962D3E
#343642
#979C9C
#F2EBC7
#348899
*/


/*modal to middle of the screen*/
	
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*Untuk datatable nya*/
.dataTables_filter{
	visibility: hidden;
}
.dataTables_length{
	visibility: hidden;
}
th.sorting:after,
th.sorting_asc:after,
th.sorting_desc:after{
	position: relative;
    left: 0px;	
}
table.dataTable thead>tr>th.sorting_asc, 
table.dataTable thead>tr>th.sorting_desc, 
table.dataTable thead>tr>th.sorting, 
table.dataTable thead>tr>td.sorting_asc, 
table.dataTable thead>tr>td.sorting_desc, 
table.dataTable thead>tr>td.sorting{
	padding-left: 20px;
}