@media (min-width: 400px){
	.page-diklats .card-title{
		font-size: 1.6em;
	}
}
@media (min-width: 768px){
	/*---------------------------------
	Bagian Section
	-----------------------------------*/
	.container-plus{
		padding: 5px 45px;
	}
	/*berita utama*/
	.berita-utama{
		height: 450px;
	}
	.berita-utama .img-card{
		height: 420px;
	}
	.carousel-inner {
		height: 450px;
		margin-top: -85px;
	}
	.card-berita-utama{
		width: 85.8%;
		height: 235px;
		margin-top: 110px;
	}
	.card-berita-utama > .card-article{
		height: 235px;
	}
	.card-berita-utama > .card-article > .card-content{
		visibility: visible;
		height: 60%;
	}
	.card-image-berita-utama{
		width: 50%;
		height: 235px;
	}
	.card-button-berita-utama > a{
		visibility: visible;
		margin-top: 20px;
		font-size: 1em;
	}
	
	/*
	------------------------
	Khusus .page-beritas
	------------------------
	*/
	.page-beritas > .container > .col-md-12 {
		padding-left: 15px;
		padding-right: 15px;
	}

	/*
	------------------------
	Khusus .page-berita
	------------------------
	*/
	.page-berita{margin-top: 100px;}
	.page-berita .container, .page-berita .col-md-12, .page-berita .col-md-8{
		padding: 0px 15px 0px 15px;
	}

	/*
	------------------------
	Khusus .page-diklat
	------------------------
	*/
	.page-diklat{margin-top: 100px;}
	.page-diklat .container, .page-diklat .col-md-12, .page-diklat .col-md-8{
		padding: 0px 15px 0px 15px;
	}
}
@media (min-width: 992px){
	.berita-utama-lain{
		display: none;
	}

	/*---------------------------------
	Bagian Header
	-----------------------------------*/
	/*banner*/
	/*.banner{
		height: 140px;
		visibility: visible;
	}*/
	.banner{
		background-position: center;
		width: 100%;
		height: 140px;
		visibility: visible;
		background: url('../img/banner.jpg');
		background-size: cover;
		/*background-position: 0px 0px 0px -6px; ini cuman sementara, inget entar di ilangin atau di edit*/
	}
	/*navbar*/
	.navbar-brand-sisdiklat{
		visibility: hidden;
		width: 0px;
		height: 0px;
		font-size: 0em;
	}
	/*---------------------------------
	Bagian Section
	-----------------------------------*/
	.judul-section{
		padding-top: 40px;
    	padding-bottom: 40px;
	}
	/*berita utama*/
	.berita-utama{
		height: 650px;
		display: inherit;
	}
	.carousel-inner {
		height: 650px;
		margin-top: -125px;
	}
	.carousel-control{
		visibility: visible;
	}
	.card-berita-utama{
		width: 79.8%;
		height: 420px;
		margin-top: 139px;
	}
	.card-image-berita-utama{
		width: 50%;
		height: 420px;
	}
	.card-title-berita-utama{
		font-size: 2em;
	}
	.card-berita-utama > .card-article > .card-content{
		visibility: visible;
		height: 73%;
	}
	.card-berita-utama > .card-article{
		height: 420px;
	}
	.card-button-berita-utama > a{
		visibility: visible;
		margin-top: 0px;
		font-size: 1.2em;
	}
	/*Berita Terbaru*/
	.berita-terbaru{
		margin-top: 10px;
	}
	.berita-terbaru > .judul-section{
		font-size: 2.3em;
	}
	.article-berita-terbaru > .card{
		margin-bottom: 0px;
	}
	/*Diklat Terbaru*/
	.diklat-terbaru > .judul-section{
		font-size: 2.3em;
	}
	
	
	/*---------------------------------
	Bagian Footer
	-----------------------------------*/
	.judul-footer{
		padding: 0px 0px 20px 0px;
	}
	.sosmed{
		font-size: 4em;
	    margin-top: 40px;
	}
	
	/*
	------------------------
	Untuk Semua .page
	------------------------
	*/
	.page{
		margin-top: 100px;
	}

	/*
	------------------------
	Khusus .page-berita
	------------------------
	*/
	.beritanya{
		margin-bottom: 0px;
	}
	
	/*
	------------------------
	Khusus .page-diklats
	------------------------
	*/
	.page-diklats .card-title{
		font-size: 2em;
	}
	.page-diklats .card-title > .col-md-8{
		padding-bottom: 0px;
	}

}
@media (min-width: 1200px){}