<template>
  <div class="container-fluid p-0 wrap-content">
    <header>
      <div class="main-header mb-4">
          <router-link :to="{ name: ($cookies.get('spedrestoId')) ? 'home-user' : 'home' }" class="logo">
            <img src="../../assets/logo.png" alt="">
            <span class="app-name"><b>SPEED</b>RESTO</span>
            
          </router-link>
          <div class="button-group">
            <router-link :to="{ name: 'cart' }"  class="btn-header btn-chart">
              <span v-if="cartData.length" class="badge badge-success float-right">{{cartData.length}}</span>
            </router-link>
            <div v-if="$cookies.get('spedrestoId')" @click="logout()" class="btn-header btn-logout"></div>
          </div>
        </div>
    </header>
    <section>
      <div class="row justify-content-center">
        <div class="col-lg-11 col-12">
          <div class="row mx-1">
            <div v-for="(d,i) in data" :key="i" class="col-lg-4 col-md-6 col-12 pb-4">
              <div class="card-content">
                <div class="top-resto d-inline-block">
                  <img src="../../assets/listw.png" class="bg-danger p-3" alt="">
                  <span>{{`Code : ${d.code}` }}</span>
                  <p>{{`Total : ${formatPrice(d.total)}`}}</p>
                </div>
                <div class="ket-resto text-left">
                  <p>{{d.name_resto}}</p>
                  <p>{{d.phone}}</p>
                  <button @click="getDetail(d.id_booking,d.id_resto)" class="btn btn-primary">Detail</button>
                </div>
              </div>
            </div>
            <!-- <div v-for="(d,i) in data" :key="i" class="col-lg-4 col-md-6 col-12 pb-4">
              <div class="card-content">
                <div class="top-resto d-inline-block">
                  <span><span class="fa fa-qrcode "></span> {{`${d.code} (Total : ${formatPrice(d.total)})`}}</span>
                </div>
                <div class="ket-resto">
                  <span>{{d.name_resto}}</span>
                  <span>{{d.phone}}</span>
                </div>
                
              </div>
            </div> -->
          </div>
        </div>
      </div>
    
    </section>
    <b-modal ref="myModalRef" hide-footer >
      <div class="menulist">

        <div class="menu" v-for="(d,i) in detbooking" :key="i">
          <img :src="`${API_URL}/storage/photo_menu_m/${d.path_photo}`"  class="img-menu" alt="">
          <div class="text-menu">
            <span><b>{{d.name}}</b></span>
            <span style="clear:both" ><strike v-if="d.status_promo ==1">{{formatPrice(d.price)}}</strike>  {{(d.status_promo ==1) ? formatPrice(d.price_promo) : formatPrice(d.price)}} </span>
            <span style="clear:both">Qty : (x{{d.qty}})</span>
            <span style="clear:both" >note : {{d.note}}</span>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>
<script>
import {mapActions,mapState} from 'vuex';

export default {
  data(){
    return{
      data:[],
      detbooking:[],
      filter:""
    }
  },
  created(){
    this.getData();
  },
  computed:{
    ...mapState('cart',['cartData']),
    ...mapState(['API_URL'])
  },
  methods:{
    ...mapActions('cart',['getHistory','getDetailHistory']),
    getData(){
      const self = this;
      var fd = new FormData();
      fd.append('id_customer',this.$cookies.get("spedrestoId"));
      this.getHistory(fd).then(res=>{
        if(!res.error){
          self.data = res.booking
        }
      })
    },
    filterdata(){
      return this.data.filter(row => row.name.toLowerCase().includes(this.filter.toLowerCase()));
    },
    getDetail(id,id_resto){
      var self = this;
      self.databooking = [];
      var fd = new FormData();
      fd.append('id_booking',id);
      fd.append('id_resto',id_resto);
      this.getDetailHistory(fd).then(res=>{
        console.log(res)
        self.detbooking = res.menu
        self.$refs.myModalRef.show();
      })
      
    }
  }
}
</script>
<style lang="scss" scoped>
$merah : #e74c3c;
.menu{
  display: table;
  font-weight: normal;
  padding: 10px 0;
  border-bottom: 1px solid #c0c0c0;
  width: 100%;
  position: relative;
  & img.img-menu{
    height: 55px;
    width: 55px;
    object-fit: cover;
    margin-right: 15px;
    float: left;
  }
  & .deletemenu{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: $merah
  }
}
.menulist span{
  display: block
}
header{
  position: fixed;
  z-index: 9;
}
header .main-header{
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 6px 0;
  height: 15vh;
}
header .logo > img{
  height: 50px;
  width: 50px;
}
  section{
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 18vh;

  }
  .wrap-content{
    min-height: calc(100vh - 34px);
    background: #eff1f7;
  }
  .logo{
    top: 50%;
    bottom:unset;
    transform: translateY(-50%);

  }
  .search-bar *{
    margin: 0 !important;
  }
  .card-content{
    width: 100%;
    height: 100%;
    padding: 15px !important;
    & .top-resto{
      width: 100%;
      font-size: 25px;
      font-weight: bold;
      & img{
        margin-right: 10px;
        float:left;
        height: 80px;
        width: 80px;
        object-fit: cover;
      }
    }
    & .ket-resto{ 
      margin-top: 10px;
      margin-right: 50px;
      & P{
        padding: 0;
        margin: 0;
        & strike{
          font-size: 10px;
        }
      }
    }
    & img{
      height: 80px;
      width: 80px;
    }
  }
  .buttonpanel{
    background: $merah;
    position: absolute;
    bottom: 16px;
    border-radius: 50px;
    right: 22px;
    & img{
      height: 20px;
      width: 20px;
      margin: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    .card-content .top-resto{
      font-size: 20px;
      font-weight: bold;
    }
  }
   @media only screen and (max-width: 576px) {
    .menu{
      font-size: 12px;
      & img.img-menu{
        height: 45px;
        width: 45px;
      }
    }
  }
</style>

