<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    
    <script src="https://apis.google.com/js/api:client.js"></script>
    <meta name="google-signin-client_id" content="412566133794-nkds6opard72nr0e8utsfuomeilld43e.apps.googleusercontent.com">
    <title>speedresto_web</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but speedresto_web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
