<template>
  <div class="wrap-content">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-12">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-12 pb-4 ">
                <div class="card-content">
                  <div class="top-resto d-inline-block">
                    <img src="http://localhost/speedresto_web/api/storage/photo_menu_m/default_food.png" alt="">
                    <span>resto tayo</span>
                  </div>
                  <div class="ket-resto text-left">
                    <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum corrupti quisquam, laborum vitae voluptatem tempore, soluta praesentium optio quas quasi reprehenderit iusto! Minima iure, labore distinctio porro ipsa iste dolorem!
                    Possimus distinctio saepe in quod. Commodi, neque temporibus dolorem in aliquid blanditiis molestiae impedit vel quia, ut fugiat necessitatibus. Eligendi inventore minus reprehenderit illum pariatur alias, in tenetur totam tempore!
                    Similique, odio quaerat voluptatibus architecto explicabo numquam unde officia voluptas blanditiis culpa perspiciatis. Iste corrupti vitae accusamus aliquid amet consequatur quibusdam, placeat sapiente assumenda! Illum mollitia tempora sint rem eaque!
                    Ullam tenetur maiores dolore dolorum accusantium nobis alias dicta vero expedita obcaecati? Incidunt, recusandae? Totam, dolorum corporis provident pariatur iste laboriosam illum sunt fugiat ratione quas, nulla, aliquid architecto ab.
                    Nisi consectetur consequatur esse tempore iste pariatur labore ab, rem qui laborum fugit, amet nesciunt natus explicabo. Facere maxime minima quaerat, voluptates, dolor odit maiores eum veniam facilis reiciendis magni?
                    Sunt itaque vitae minus, amet atque eum suscipit quaerat rem dolore veritatis impedit beatae porro sint perferendis blanditiis, alias illum accusantium dicta, tempore in. Facere numquam laborum nesciunt commodi tempora.
                    Harum rem ut, ducimus cum consectetur beatae tempora id numquam facere? Consequatur a mollitia nulla laboriosam fugit maiores sed reprehenderit at sequi velit officia, assumenda praesentium, ratione eaque magnam excepturi.
                    Necessitatibus architecto accusamus vitae officiis eius cupiditate beatae quae at, obcaecati illo soluta unde. Excepturi modi laudantium tempora rerum aperiam, quos similique provident harum tempore eligendi dicta quaerat, quae blanditiis.
                    Animi maiores in ratione commodi, incidunt a porro veniam accusantium quisquam excepturi facilis accusamus reiciendis possimus sit, rem unde cum eos numquam deleniti deserunt similique quasi quia? Doloremque, voluptatem aliquid?
                    Reiciendis tempora vel, praesentium rerum modi est iure mollitia cumque quia, officia ullam. Asperiores saepe iste atque labore autem at tempore incidunt facere? Repudiandae, quis dolorem adipisci minus sapiente laudantium.</span>
                  </div>
                </div>
                
              </div>
              
              
              
            

              

          </div>
        </div>
      </div>
  </div>
</template>
<style>
  .wrap-content{
    background: #999999
  }
  .tai{
    height: 100px;
    background: #fff;
  }
</style>
