  <template>
    <div class="wrapper">
      <div class="top-banner">
        <img src="../assets/asu.png" alt="">
      </div>
      <div class="logo">
        <img src="../assets/logo.png" alt="">
        <div class="app-name d-inline-block mx-3 text-dark">
          <span>
            <b>SPEED</b>RESTOt
          </span>
        </div>
        
      </div>
      <div class="row content">
        <div class="col-md-6">
          <div class="content-desc">
            <p class="d-none d-md-block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus est aliquid, officia, eaque nam reiciendis laboriosam doloremque ut at minima amet architecto numquam inventore dicta. Odit expedita incidunt sit quam.</p>
            <div class="downBtn login-btn"></div>
            <div class="appbutton">

              <p class="m-0 pt-2 text-center">Tersedia di </p>
              <div class="downBtn apple-btn mx-auto my-2"></div>
              <div class="downBtn goole-btn mx-auto my-2"></div>
            </div>


          </div>
        </div>
        <div class="col-md-6">
          <div class="row menu-fitur justify-content-center">
            <div class="col-sm-5 m-1 mb-3 m-md-3 card-content">
              <div class="icon-card">
                <div class="icon-box d-inline-block">
                  <img src="../assets/toaw.png" class="iconimage" alt="">
                </div>
                <span>Food Game</span>
              </div>
              <div class="card-txt">
                 <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit
                </span>
                <button class="btn btn-sm btn-primary mt-1 mt-md-4 d-block">See more</button>
              </div>
            </div>
            <div class="col-sm-5 m-1 mb-3 m-md-3 card-content">
              <div class="icon-card">
                <div class="icon-box d-inline-block">
                  <img src="../assets/shopw.png" class="iconimage" alt="">
                </div>
                <span>Resto</span>
              </div>
              <div class="card-txt">
                <span>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit
                </span>

                <button class="btn btn-sm btn-primary mt-1 mt-md-4 d-block">See more</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="footer">
        <p>
          Copyright © 2019 <a href="bamboomedia.net">Bamboomedia Cipta Persada </a>,Alright Reserved
        </p>
      </div>

    </div>
  </template>

  <script>

  export default {
    name: 'home2',
  }
  </script>
  <style lang="scss" scoped>
  @import url("https://fonts.googleapis.com/css?family=Oswald:300,700");
  @import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
  .content{
    margin-top: 70px;
  }
  .content-desc{
    margin: 16px;
    margin-left: 80px;
  }
  .card-content{
    position: relative;
    border-radius: 10px;
    border: none;
    background: #fff;
    padding: 25px;
    box-shadow: -1px 9px 20px 0px #00000054;
    &>.icon-card{
      max-width: 100%;
      position: relative;
      &>.icon-box{
        padding: 20px;
        border-radius: 15px;
        background: #e74c3c;
      }
      &>span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
        margin-left: 5px;
      }
    }
    &>.card-txt{
      margin-top: 20px;
      font-size: 18px;
    }
  
  }
  .iconimage{
    width:30px;
    height: 30px;
  }
  .wrapper{
    height: 100vh;
    background: #eff1f7;

  }
  .top-banner{
    height: 70vh;
    width: 90vh;  
    position: absolute;
    right: 0;
    &>img{
      height: 100%;
      width:100%;
    }
  }
  .logo{
    position: relative;
    
    top: 20px;
    left: 80px;
    &>img{
      height: 80px;
      width: 80px;
    }
    & .app-name{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      font-size: 35px;
      font-family: 'Oswald', sans-serif;
    }
  }

.footer{
  position: fixed;
  bottom: 0;
  padding: 10px 80px;
  color: #414141;
  text-align: center;
  width: 100vw;
}
    .downBtn{
        width: 160px;
        height: 48px;
        text-indent: -9999px;
        margin: 4px;
        background-size:160px 48px  !important; 
    }
    .login-btn{
        width: 180px !important;
        height: 58px !important;
        background-size:180px 58px  !important; 

        background: url(../assets/googlelogin2.png) no-repeat;
    }
    .apple-btn {
        background: url(../assets/apple.png) no-repeat;
    }
    .goole-btn {
        background: url(../assets/playstore.png) no-repeat;
    }
    #logo{
      height: 120px;
      width: 120px;
    }
  // responsip
  @media only screen and (max-width: 865px) {
    .card-content{
      margin-left: 10px !important;
      margin-right: 10px !important;
      & .card-txt{
        font-size: 13px;
        margin-top: 12px;
      }
      & .icon-box{
        padding: 10px !important;
        &>img{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .app-name{
      color: #fff !important;
    }
    .logo{
      left: 20px;
      & img{
        height: 50px;
        width:50px;
      }
      & .app-name{
        font-size: 25px;
      }
      & .app-name{
        color: #fff !important;
      }
    }
    .content{
      margin-top:10vh;
    }
    .content-desc{
      margin: 10px 20px;
    }
    .footer{
      font-size: 10px;
      padding: 0;
    }
    .appbutton{
      position: fixed;
      width: 100%;
      bottom: 30px;
      & *{
        display: inline-block
        
      }
      & p{
        margin-bottom: 10px !important;
        margin-right: 20px !important;
        
      }
    }
    .downBtn{
        width: 100px;
        height: 28px;
        text-indent: -9999px;
        margin: 4px;
        background-size:100px 28px  !important; 
    }
  }
  @media only screen and (max-width: 576px) {
    .menu-fitur{
      margin-left: 10px;
      margin-right: 10px;
    }
    .card-content{
      padding: 15px 25px;
    }
    .login-btn{
        width: 160px !important;
        height: 48px !important;
        background-size:160px 48px  !important; 
    }
    .card-txt{
      margin: 0px;
      &>span{
        display: none
      }
      &>button{
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    
  }
  @media screen and (orientation: landscape) and (max-width: 768px) {
    .card-txt > button{
      position: absolute;
      right: 25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .appbutton{
      top: 20px;
      right: 20px;
      width: unset;
      color: #fff;
      font-size: 12px;
      &>p{
        margin: 15px !important;

      }
    }
    .content{
      margin-top: 20px;
    }
    .app-name>span{
      color: #343a40 !important;
    }  
    .login-btn{
      width: 100px !important;
      height: 28px !important;
    }
    .card-content{
      padding: 20px;
      & .card-txt span{
        display: none;
      }
    }
  }
  
  </style>
