<template>
  <div class="wrapper">
    <div class="top-banner"></div>
    <div class="logo">
      <img src="../assets/logo.png" alt="">
      <div class="app-name d-inline-block mx-3 text-dark">
        <span>
          <b>SPEED</b>RESTO
        </span>
      </div>
      
    </div>
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus est aliquid, officia, eaque nam reiciendis laboriosam doloremque ut at minima amet architecto numquam inventore dicta. Odit expedita incidunt sit quam.</p>
        <div class="downBtn login-btn"></div>
      <div class="row mt-4">
        <div class="col-md-5 m-3 card-content">
          <div class="icon-card">
            <div class="icon-box">
              <img src="../assets/toaw.png" class="iconimage" alt="">
            </div>
          </div>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint tempore inventore dolor, accusantium, harum atque eius tenetur blanditiis earum ipsa itaque? Ipsa laudantium, dolores harum reiciendis enim assumenda ut!
        </div>
        <div class="col-md-5 m-3 card-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe sint tempore inventore dolor, accusantium, harum atque eius tenetur blanditiis earum ipsa itaque? Ipsa laudantium, dolores harum reiciendis enim assumenda ut!
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'home',
}
</script>
<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Oswald:300,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
.content{
  position: relative;
  top: 100px;
  min-height: 200px;
  max-width: 60vw;
  font-family: 'Roboto Condensed', sans-serif;
  left: 85px;
  font-size: 20px;
}
.card-content{
  position: relative;
  border-radius: 10px;
  border: none;
  background: #fff;
  padding-top: 20px;
  &>.icon-card{
    max-width: 100%;
    &>.icon-box{
      padding: 20px;
      border-radius: 15px;
      background: #e74c3c;
    }
  }
 
}
.iconimage{
  width:30px;
  height: 30px;
}
.wrapper{
  height: 100vh;
  background: #eff1f7;

}
.top-banner{
  height: 150vh;
  width: 150vh;
  background: #e74c3c;
  border-radius :100%;
  position: absolute;
  top: -85vh;
  right: -65vh;
}
.logo{
  position: relative;
  
  top: 20px;
  left: 80px;
  &>img{
    height: 100px;
    width: 100px;
  }
  & .app-name{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
  }
}


// .banner{
//   height: 100vh;
//   background: linear-gradient( rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.61) ), url(../assets/bg.jpg) no-repeat center;
//   background-attachment: scroll, scroll;
//   background-size: auto auto, auto auto;
//   background-size: cover;
//   background-attachment: fixed;
// }
// .baner-kiri{
//   color: #000;
//   position: fixed;
//   top: 10px;
//   right: 0;
//   height: 60px;
//   margin-right: -100px;
//   width: 160px;
//   background: #fff;
//   transition: all 0.5s ease-in-out;
//   &.shop{
//     top:100px;
//   }
//   &>.img-wrap{
//     position: relative;
//     height: 100%;
//     width: 60px;
//   }
//   &>.text{
//     position: relative;
//     margin-right: -20px;
//   }
//   & img{
//     position: absolute;
//     height: 40px;
//     width:40px;
//     left:50%;
//     top:50%;
//     transform: translate(-50%,-50%);
//   }
//   &:hover{
//    margin-right: 0px;
//   }
// }
  .downBtn{
      width: 180px;
      height: 48px;
      text-indent: -9999px;
      margin: 4px;
      background-size:180px 48px  !important; 
  }
  .login-btn{
      width: 180px !important;
      height: 58px !important;
      background-size:180px 58px  !important; 

      background: url(../assets/googlelogin2.png) no-repeat;
  }
  .apple-btn {
      background: url(../assets/apple.png) no-repeat;
  }
  .goole-btn {
      background: url(../assets/playstore.png) no-repeat;
  }
  #logo{
    height: 120px;
    width: 120px;
  }

  // .app-name::after{
  //   content: ' ';
  //   display: block;
  //   height: 5px;
  //   width: 100px;
  //   margin: auto;
  //   background: #ae1900;
  // }
  // .bulet{
  //   position: relative;
  //   height: 100px;
  //   width: 100px;
  //   &>img{
  //     position: absolute;
  //     left:50%;
  //     top:50%;
  //     transform: translate(-50%,-50%);
  //     height: 60px;
  //     width: 60px;
  //   }
  // }
  
  // .home{
  //   color: #fff;
  //   text-align: center;
  // }
  // .text{
  //   font-size: 20px;
  //   width:80%;
  // }
</style>
