<template>
  <div class="container-fluid p-0 wrap-content">
    <header>
      <div class="main-header mb-4">
          <router-link :to="{ name: ($cookies.get('spedrestoId')) ? 'home-user' : 'home' }" class="logo">
            <img src="../../assets/logo.png" alt="">
            <span class="app-name"><b>SPEED</b>RESTO</span>
            
          </router-link>
          <div class="button-group">
            <router-link :to="{ name: 'cart' }"  class="btn-header btn-chart">
              <span v-if="cartData.length" class="badge badge-success float-right">{{cartData.length}}</span>
            </router-link>
            <div v-if="$cookies.get('spedrestoId')" @click="logout()" class="btn-header btn-logout"></div>
          </div>
        </div>
    </header>
    <section class="">
      <div class="row justify-content-center mx-1">
        <div class="col-md-4 mb-3">
          <div class="input-group mb-3">
            <input type="text" v-model="filter" class="form-control border-right-0" placeholder="Cari" aria-label="Cari" aria-describedby="basic-addon2">
            <div class="input-group-append ">
              <span class="input-group-text bg-white border-left-0" id="basic-addon2"><span class="fa fa-search"></span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-11 col-12">
          <div class="row mx-1">
            <div v-for="(d,i) in filterdata()" :key="i" class="col-lg-4 col-md-6 col-12 pb-4">
              <div class="card-content" @click="goMenu(d.id_resto)">
                <div class="top-resto d-inline-block">
                  <img :src="`${API_URL}/storage/photo_resto/${d.path_photo}`" alt="">
                  <span>{{d.name}}</span>
                </div>
                <div class="ket-resto text-left">
                  <span> {{d.address}}</span>
                  <span> {{d.phone}}</span>
                </div>
                <div class="buttonpanel">
                  <img src="../../assets/kanan.png" alt="">
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import {mapActions,mapState} from 'vuex';

export default {
  data(){
    return{
      data:[],
      filter:""
    }
  },
  created(){
    this.getData();
  },
  computed:{
    ...mapState(['API_URL']),
    ...mapState('cart',['cartData']),
  },
  methods:{
    ...mapActions('resto',['getResto']),
    getData(){
      const self = this;
      var fd = new FormData();
      fd.append('id_customer',0);
      this.getResto(fd).then(res=>{
        if(!res.error){
          self.data = res.resto
        }
      })
    },
    filterdata(){
      return this.data.filter(row => row.name.toLowerCase().includes(this.filter.toLowerCase()));
    }
  }
}
</script>
<style lang="scss" scoped>
$merah : #e74c3c;
header{
  position: fixed;
  z-index: 9;
}
header .main-header{
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 6px 0;
  height: 15vh;
}
header .logo > img{
  height: 50px;
  width: 50px;
}
  section{
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 18vh;

  }
  .wrap-content{
    min-height: calc(100vh - 34px);
    background: #eff1f7;
  }
  .logo{
    top: 50%;
    bottom:unset;
    transform: translateY(-50%);

  }
  .search-bar *{
    margin: 0 !important;
  }
  .card-content{
    width: 100%;
    height: 100%;
    padding: 15px !important;
    & .top-resto{
      width: 100%;
      font-size: 25px;
      font-weight: bold;
      & img{
        margin-right: 10px;
        float:left;
        height: 80px;
        width: 80px;
        object-fit: cover;
      }
    }
    & .ket-resto{ 
      margin-top: 10px;
      margin-right: 50px;
      & P{
        padding: 0;
        margin: 0;
        & strike{
          font-size: 10px;
        }
      }
    }
    & img{
      height: 80px;
      width: 80px;
    }
  }
  .buttonpanel{
    background: $merah;
    position: absolute;
    bottom: 16px;
    border-radius: 50px;
    right: 22px;
    & img{
      height: 20px;
      width: 20px;
      margin: 10px;
    }
  }
  @media only screen and (max-width: 768px) {
    .card-content .top-resto{
      font-size: 20px;
      font-weight: bold;
    }
  }
</style>

