  <template>
    <div class="wrapper container-fluid">
      <div class="top-banner">
        <img src="../../assets/asu.png" alt="">
      </div>
      <div class="logo">
        <img src="../../assets/logo.png" alt="">
        <div class="app-name d-inline-block mx-3 text-dark">
          <span>
            <b>SPEED</b>RESTO
          </span>
        </div>
        
      </div>
      <div class="row content">
        <div class="col-md-6">
          <div class="content-desc">
            <p class="d-none d-md-block">Speed Resto is a apps can help you to looking for your favorite food in restaurant, cafe or hotel. You can search resto, view menu and create booking order with special discount. Don't miss food game, all menu in here give you special price.</p>
            <div id="googlelogin2" class="downBtn login-btn"></div>
            <div id="name" class=""></div>
            <!-- <div class="g-signin2 downBtn login-btn" data-onsuccess="onSignIn"></div> -->

            <div class="appbutton">

              <p class="m-0 pt-2 text-center">Get apps in : </p>
              <a href="https://itunes.apple.com/id/app/speed-resto/id1289141799?mt=8"><div class="downBtn apple-btn mx-auto my-2"></div></a>
              <a href="https://play.google.com/store/apps/details?id=net.bamboomedia.speedresto"><div class="downBtn goole-btn mx-auto my-2"></div></a>
            </div>


          </div>
        </div>
        <div class="col-md-6">
          <div class="row menu-fitur justify-content-center">
            <router-link :to="'food-game'" class="col-sm-5 m-1 mb-3 m-md-3 card-content" >
              <div class="icon-card">
                <div class="icon-box d-inline-block">
                  <img src="../../assets/toaw.png" class="iconimage" alt="">
                </div>
                <span>Discount</span>
              </div>
              <div class="card-txt">
                 <span>
                  Get your favorite menu with special discount
                </span>
                <div @click="goFoodgame(this)" class="buttonpanel">
                  <img src="../../assets/kanan.png" alt="">
                </div> 
              </div>
            </router-link>
            <router-link :to="'menu'" class="col-sm-5 m-1 mb-3 m-md-3 card-content">
              <div class="icon-card">
                <div class="icon-box d-inline-block">
                  <img src="../../assets/shopw.png" class="iconimage" alt="">
                </div>
                <span>Menu</span>
              </div>
              <div class="card-txt">
                <span>
                  Get your best menu in the awesome hotel
                </span>
                <div class="buttonpanel">
                  <img src="../../assets/kanan.png" alt="">
                </div> 
              </div>
            </router-link>
            
          </div>
        </div>
      </div>

    </div>
  </template>

  <script>
  /*global gapi*/
  import {mapActions} from 'vuex';
  export default {
    name: 'home2',
    data() {
      return{
        auth2:'',
      }
    },
    
    mounted(){
      const self = this;
        gapi.load('auth2', function(){
          // Retrieve the singleton for the GoogleAuth library and set up the client.
          self.auth2 = gapi.auth2.init({
            client_id: '412566133794-nkds6opard72nr0e8utsfuomeilld43e.apps.googleusercontent.com',
            cookiepolicy: 'single_host_origin',
            // Request scopes in addition to 'profile' and 'email'
            //scope: 'additional_scope'
          });
          self.onSignin(document.getElementById('googlelogin2'));
        });
    },
    methods:{
      ...mapActions('auth', ['getlogin']),
      onSignin(element){
        const self = this;
        console.log(element.id);
        this.auth2.attachClickHandler(element, {},
            function(googleUser) {
              var profile = googleUser.getBasicProfile();
              // console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
              // console.log('Name: ' + profile.getName());
              // console.log('Image URL: ' + profile.getImageUrl());
              // console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
              var fd = new FormData();
              fd.append('name',profile.getName()) 
              fd.append('email',profile.getEmail()) 
              // console.log(fd.getAll());
              console.log(self.getlogin());
              self.getlogin(fd).then(res=>{
                if(res.error){
                  self.$swal(
                    '',
                    res.error_msg,
                    'error'
                  )
                }else{
                  self.$router.push('home-user');
                  $cookies.set('spedrestoId',res.user.id_customer);
                  $cookies.set('spedrestoEmail',res.user.email);
                }
              })
            }, function(error) {
              alert(JSON.stringify(error, undefined, 2));
            });
      }
    }
  }
  </script>
  <style lang="scss" scoped>
  .buttonpanel{
    float:right;
    background: #27ae60 !important;
  }
  .content{
    margin-top: 70px;
    font-family: 'Roboto Condensed', sans-serif;

  }
  .content-desc{
    margin: 16px;
    margin-left: 80px;
  }
  .card-content{
    // position: relative;
    // border-radius: 10px;
    // border: none;
    // background: #fff;
    padding: 25px;
    // box-shadow: 0px 9px 20px 0px #00000054;
    &>.icon-card{
      max-width: 100%;
      position: relative;
      &>.icon-box{
        padding: 20px;
        border-radius: 15px;
        background: #e74c3c;
      }
      &>span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
        margin-left: 5px;
      }
    }
    &>.card-txt{
      margin-top: 20px;
      font-size: 18px;
      & span{
        display: block;
      }
    }
  
  }
  .iconimage{
    width:30px;
    height: 30px;
  }
  .wrapper{
    height: calc(100vh - 35px);
    background: #eff1f7;

  }
  .top-banner{
    height: 70vh;
    width: 90vh;  
    position: absolute;
    right: 0;
    &>img{
      height: 100%;
      width:100%;
    }
  }
  .logo{
    position: relative;
    
    top: 20px;
    padding-left: 80px;
    &>img{
      height: 80px;
      width: 80px;
    }
    & .app-name{
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      font-size: 35px;
      font-family: 'Oswald', sans-serif;
    }
  }

    .downBtn{
        width: 160px;
        height: 48px;
        text-indent: -9999px;
        margin: 4px;
        background-size:160px 48px  !important; 
    }
    .login-btn{
        width: 180px !important;
        height: 58px !important;
        background-size:180px 58px  !important; 

        background: url(../../assets/googlelogin2.png) no-repeat;
    }
    .apple-btn {
        background: url(../../assets/apple.png) no-repeat;
    }
    .goole-btn {
        background: url(../../assets/playstore.png) no-repeat;
    }
    #logo{
      height: 120px;
      width: 120px;
    }
  // responsip
  @media only screen and (max-width: 865px) {
    .card-content{
      margin-left: 10px !important;
      margin-right: 10px !important;
      & .card-txt{
        font-size: 13px;
        margin-top: 12px;
      }
      & .icon-box{
        padding: 10px !important;
        &>img{
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  
  @media only screen and (max-width: 768px) {
    .app-name{
      color: #fff !important;
    }
    .logo{
      padding-left: 20px;
      & img{
        height: 50px;
        width:50px;
      }
      & .app-name{
        font-size: 25px;
      }
      & .app-name{
        color: #fff !important;
      }
    }
    .content{
      margin-top:10vh;
    }
    .content-desc{
      margin: 10px 20px;
    }
    .appbutton{
      position: fixed;
      width: 100%;
      bottom: 30px;
      & div{
        display: inline-block
        
      }
      & p{
        text-align: left !important;
        
      }
    }
    .downBtn{
        width: 100px;
        height: 28px;
        text-indent: -9999px;
        margin: 4px;
        background-size:100px 28px  !important; 
    }
  }
  @media only screen and (max-width: 576px) {
    .menu-fitur{
      margin-left: 10px;
      margin-right: 10px;
    }
    .card-content{
      padding: 15px 25px;
    }
    .login-btn{
        width: 160px !important;
        height: 48px !important;
        background-size:160px 48px  !important; 
    }
    .card-txt{
      margin: 0px;
      &>span{
        display: none !important
      }
      &>.buttonpanel{
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    
  }
  @media screen and (orientation: landscape) and (max-width: 768px) {
    .card-txt > button{
      position: absolute;
      right: 25px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .appbutton{
      top: 20px;
      right: 20px;
      width: unset;
      color: #fff;
      font-size: 12px;
      &>p{
        margin: 15px !important;

      }
    }
    .content{
      margin-top: 20px;
    }
    .app-name>span{
      color: #343a40 !important;
    }  
    .login-btn{
      width: 100px !important;
      height: 28px !important;
    }
    .card-content{
      padding: 20px;
      & .card-txt span{
        display: none;
      }
    }
  }
  
  </style>
