<template>  
  <div class="wrapper">
    <header>
      <div class="main-header">
        <div class="logo">
          <img src="../../assets/logo.png" alt="">
          <span class="app-name"><b>SPEED</b>RESTO</span>
          
        </div>
        <div class="button-group">
          <router-link :to="{ name: 'cart' }"  class="btn-header btn-chart">
            <span v-if="cartData.length" class="badge badge-success float-right">{{cartData.length}}</span>
          </router-link>
          <div v-if="$cookies.get('spedrestoId')" @click="logout()" class="btn-header btn-logout"></div>
        </div>
      </div>
    </header>
    <section class="">
        <div class="header-banner-bot"></div>
        <div class="content row justify-content-center">
          <router-link :to="'food-game'" class="col-sm-3   card-content" >
            <div class="icon-card">
              <div class="icon-box">
                <img class="icon-image" src="../../assets/toaw.png" alt="">
              </div>
            </div>
            <div class="title text-center">
              <span>Discount</span>
            </div>
            <div class="card-text">
              <span>Get your favorite menu with special discount</span>
              <div class="buttonpanel">
                  <img src="../../assets/kanan.png" alt="">
                </div> 
              <!-- <button class="btn btn-sm btn-primary mt-1 mt-md-4 d-block" @click="foodgameclick()">Click</button> -->
            </div>
          </router-link>
          <router-link :to="'menu'" class="col-sm-3   card-content" >
            <div class="icon-card">
              <div class="icon-box">
                <img class="icon-image" src="../../assets/shopw.png" alt="">
              </div>
            </div>
            <div class="title text-center">
              <span>Menu</span>
            </div>
            <div class="card-text">
              <span>Get your best menu in the awesome hotel</span>
              <div class="buttonpanel">
                  <img src="../../assets/kanan.png" alt="">
                </div> 
            </div>
          </router-link>
          <router-link :to="'booking'" class="col-sm-3   card-content" @click="historyClick">
            <div class="icon-card">
              <div class="icon-box">
                <img class="icon-image" src="../../assets/listw.png" alt="">
              </div>
            </div>
            <div class="title text-center">
              <span>History Booking</span>
            </div>
            <div class="card-text">
              <span>get your favorite menu and hotel in Booking History</span>
              <div class="buttonpanel">
                  <img src="../../assets/kanan.png" alt="">
                </div> 
            </div>
          </router-link>
        </div>
    </section>
    <div class="appbutton">
      <p class="m-0 pt-2 text-center">Get apps in : </p>
      <a href="https://itunes.apple.com/id/app/speed-resto/id1289141799?mt=8"><div class="downBtn apple-btn mx-auto my-2"></div></a>
      <a href="https://play.google.com/store/apps/details?id=net.bamboomedia.speedresto"><div class="downBtn goole-btn mx-auto my-2"></div></a>
    </div>
  </div>
</template>
<script>
import {mapActions,mapState} from 'vuex';

export default {
  name: 'Homeuser',
  created(){
    this.cookiesCheck();
  },
  computed:{
    ...mapState(['API_URL']),
    ...mapState('cart',['cartData']),
  },
  methods:{
    foodgameclick(){
      this.$router.push('food-game');
    },
    restoClick(){
      this.$router.push('resto');
      
    },
    historyClick(){
      
      this.$router.push('booking');
    },
    chartClick(){
      this.$router.push('cart');

    }
  }
  
}
</script>
<style lang="scss" scoped>
  $merah : #e74c3c;
  .buttonpanel{
    background: #27ae60;
    float: right;
  }
  .wrapper{
    position: relative;
    height: calc(100vh - 34px);
    background: #eff1f7;
  }
  
  section{
    font-family: 'Roboto Condensed', sans-serif;

  }
  
  .header-banner-bot{
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 100vw solid $merah;
    border-bottom: 30vh solid transparent;
    
    }
    .content{
      margin-top: 80px;
      padding-bottom: 20px;

    }
  .card-content{
    // position: relative;
    // border-radius: 10px;
    // border: none;
    // background: #fff;
    padding: 25px;
    margin:1px 15px;
    // box-shadow: 0px 9px 20px 0px #00000054;
    &>.icon-card{
      max-width: 100%;
      position: relative;
      text-align: center;
      &>.icon-box{
        display: inline-block;
        padding: 20px;
        border-radius: 15px;
        background: #e74c3c;
        text-align: center;
      }
      &>span{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-weight: bold;
        margin-left: 5px;
      }
    }
    &>.card-text{
      font-size: 18px;
      & span{
        display: block;

      }
    }
    & .title{
      font-size: 25px;
      font-weight: bold;
      margin-top: 10px;
    }
  
  }
  .icon-image{
    width:30px;
    height: 30px;
  }
  .appbutton{
    position: fixed;
    bottom: 50px;
    right: 20px;
    font-size: 12px;
    & div{
        display: inline-block
      }
    }
    .downBtn{
        width: 100px;
        height: 28px;
        text-indent: -9999px;
        margin: 4px;
        background-size:100px 28px  !important; 
    }

    .apple-btn {
        background: url(../../assets/apple.png) no-repeat;
    }
    .goole-btn {
        background: url(../../assets/playstore.png) no-repeat;
    }
  @media only screen and (max-width: 865px) {
    .card-content .card-text{
      font-size: 17px;
    }
    .card-content .title{
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    .content{
      margin-top: 50px;
    }
  }
  @media only screen and (max-width: 576px) {
    .buttonpanel{
      position: absolute;
      bottom: 0;
      right: 0;
    }
    header .logo{
      left: 20px ;
      top:50%;
      transform: translateY(-50%); 
      bottom: unset ;
      & img{
        height: 50px ;
        width: 50px ;
      }
      & .app-name{
        font-size: 25px ;
      }
    }
    header .main-header{
      height: 80px ;
    }
    header .main-header .button-group{
      right: 10px;
    }
    // header .main-header .button-group > .btn-header{
    //   // width: 15px;
    //   // height: 15px;
    //   // margin-left: 15px;
    //   // background-size:15px 15px  !important; 
    // }
    .card-text{
      
      height: 100%;
      position: relative;
    }
    .card-text span{
      display: none !important;
    }
    .card-text button{
      float: right;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .card-content{
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      padding: 15px !important;
      display: inline-block;
      &>.icon-card{
        float: left;
        text-align: left;
        & .icon-box{
          padding:15px;
          & img{
            height: 20px;
            width: 20px;
          }
        }
      }
      & .title{
        float: left;
        margin-left: 20px;
        font-size: 15px;
      }
    }
    .content{
      margin:0 20px;
      margin-top: 5vh 

    }
    .appbutton{
      font-size: 11px;
    }
  }
</style>

