<template>
    <div class="wrap">
      <!-- <div class="container-fluid bg-dark p-0">
        <header>
          <div class="main-header mb-4">
              <div class="logo">
                <img src="./assets/logo.png" alt="">
                <span class="app-name"><b>SPEED</b>RESTO</span>
                
              </div>
              <div class="button-group">
                    <div class="btn-header btn-chart">
                    </div>
                    <div class="btn-header btn-logout"></div>
                  </div>
            </div>
        </header>
      </div> -->
      <router-view></router-view>
      <div class="footer">
        <p>
          Copyright © 2019 <a href="bamboomedia.net">Bamboomedia </a>,Alright Reserved
        </p>
      </div>
      
    </div>   
    
</template>
<script>

export default {
  data(){
    return{
      
    }
  },
  created(){
  }
}
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Oswald:300,700");
a,a:hover{
  text-decoration: none !important;
  color: #212529 !important;
}
body{padding: 0 !important}
section{
  overflow-x: hidden;
  width: 100%;
}
.wrap{
  // float:left;
  // width: 100vw;
}
.wrap-content{
   min-height: calc(100vh - 34px);
    background: #eff1f7;
}
$merah : #e74c3c;
// *{
//       overflow-x: hidden;
// }
.swal2-title{
  overflow: hidden;
}
.buttonpanel{
    background: #e74c3c;
    position: initial;
    display: inline-block;
    bottom: 16px;
    border-radius: 50px;
    right: 22px;
    & img{
      height: 20px;
      width: 20px;
      margin: 10px;
    }
  }
header{
    width: 100%;
    & .main-header{
      position: relative;
      background: $merah;
      height: 20vh;
      & .button-group{
        position: absolute;
        display: inline-flex;
        right: 30px;
        bottom: 30px;
        &>.btn-header{
          width: 35px;
          height: 30px;
          /* text-indent: -9999px; */
          margin: 0px 10px;
          background-position-y: bottom !important;
          background-size: 25px 25px !important;
        }
        .btn-chart{
           background: url(assets/chart.png) no-repeat;
        }
        .btn-logout{
           background: url(assets/logout.png) no-repeat;
        }
      }
    }
    & .logo{
      display: table-cell;
      position: absolute;
      bottom: 0px;
      left: 80px;
      &>img{
        height: 80px;
        width: 80px;
      }
      &>.app-name{
        font-size: 35px;
        color: #fff;
        vertical-align: middle;
        font-family: 'Oswald', sans-serif !important;
        margin-left: 20px;
      }
    }
}
.card-content{
    position: relative;
    border-radius: 10px;
    border: none;
    background: #fff;
    padding: 25px !important;
    box-shadow: 0px 9px 20px 0px #00000054;
    
}
 .footer{
    background: #eff1f7;
    // position: relative;
    bottom: 0;
    font-size: 12px;
    color: #414141;
    text-align: center;
    width: 100%;
    float:left;
    & p{
      margin: 0;
      padding-bottom: 1rem;
    }
  }
 @media only screen and (max-width: 865px) {
    .card-content .card-text{
      font-size: 17px;
    }
    .card-content .title{
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 768px) {
    
  }
  @media only screen and (max-width: 576px) {
    header .logo{
      left: 20px ;
      top:50%;
      transform: translateY(-50%); 
      bottom: unset ;
      & img{
        height: 50px ;
        width: 50px ;
      }
      & .app-name{
        font-size: 25px ;
      }
    }
    header .main-header{
      height: 80px !important;
    }
    .card-content .card-txt{
      margin-right: 25px;
    }
    header .main-header .button-group{
      right: 10px;
    }
    header .main-header .button-group > .btn-header{
      width: 27px;
      height: 22px;
      margin-left: 15px;
      background-size:15px 15px  !important; 
    }
    .card-text button{
      float: right;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    .footer{
      font-size: 11px;
    }
  }
</style>
