<template>
  <div class="container-fluid p-0 wrap-content">
    <header>
      <div class="main-header mb-4">
          <router-link :to="{ name: ($cookies.get('spedrestoId')) ? 'home-user' : 'home' }" class="logo">
            <img src="../../assets/logo.png" alt="">
            <span class="app-name"><b>SPEED</b>RESTO</span>
            
          </router-link>
          <div class="button-group">
            <router-link :to="{ name: 'cart' }"  class="btn-header btn-chart">
              <span v-if="cartData.length" class="badge badge-success float-right">{{cartData.length}}</span>
            </router-link>
            <div v-if="$cookies.get('spedrestoId')" @click="logout()" class="btn-header btn-logout"></div>
          </div>
        </div>
    </header>
    <section>
      <div class="row justify-content-center mx-1">
        <div class="col-lg-8 col-md-10 col-12 pb-4">
          <form @submit.prevent="submitData()" class="card-content">
            <div class="totalbox">
              <span>Total : {{formatPrice(total)}}</span>
              <span>Disc : {{formatPrice(disc)}}</span>
              <span>Tax : {{formatPrice(tax)}}</span>
              <span>Service : {{formatPrice(service)}}</span>
              <span class="numberTotal">Grand Total : {{formatPrice(gt)}}</span>
            </div>
            <div class="menulist">
              <div class="menu" v-for="(d,i) in cartData" :key="i">
                <img :src="`${API_URL}/storage/photo_menu_m/${d.path_photo}`"  class="img-menu" alt="">
                <div class="text-menu">
                  <span><b>{{d.nama}}</b></span>
                  <span v-if="d.status_promo ==1"><strike>{{formatPrice(d.harga)}}</strike>  </span>
                  <span>{{(d.status_promo ==1) ? formatPrice(d.harga_promo) : formatPrice(d.harga)}}(x{{d.qty}})</span>
                  <i @click="deleteMenu(d.id_menu)" class="fa fa-times deletemenu"></i>
                </div>
              </div>
            </div>
            <div class="footer-menu row pt-5">
              <div class="col-12">
                <div class="form-group">
                  <label for="Alamat">Room Number / Location</label>
                  <textarea required v-model="address" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="Alamat">Date booking</label>
                  <input required v-model="date" type="date" class="form-control" name="" id="">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="Alamat">Time booking</label>
                  <vue-clock-picker v-model="time"></vue-clock-picker>
                </div>
              </div>
            </div>
            <button type="submit" :disabled="!cartData.length" class="btn btn-success my-3 col-12">Save Booking</button>
          </form>
        </div>
      </div>
      
    </section>
  </div>
</template>
<script>
import {mapActions,mapState,mapGetters} from 'vuex';
import VueClockPicker from '@pencilpix/vue2-clock-picker';
import '@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css';

export default {
  components: {
    VueClockPicker,
  },
  data(){
    return{
      metode:3,
      address:'',
      total : 0,
      data:[],
      filter:"",
      datafilter:[],
      discPercent :0,
      qty:0,
      tax:0,
      service:0,
      disc:0,
      gt:0,
      time:'00:00',
      date:''
    }
  },
  computed:{
    ...mapState(['API_URL']),
    ...mapState('cart',['cartData']),
  },
  created(){
    this.onload();
  },
  

  methods:{
    ...mapActions('cart',['pushCart','resetCart','submitCart','reCreate']),
    ...mapActions('resto',['getRestoById']),
    onload(){
      if(this.cartData.length){
        var self = this;
        console.log(this.cartData);
        this.total = (this.cartData.length) ? this.cartData.map(function(v) { 
          return (v['status_promo'] == 1) ? v['harga_promo']*v['qty'] : v['harga']*v['qty'] 
          })         // second value of each
        .reduce(function(a,b) { return a + b }) : 0;
        console.log(this.cartData);
        var id_resto = this.cartData[0].resto;
        var fd = new FormData();
        fd.append("id_resto",id_resto)
        this.getRestoById(fd).then(res=>{
            var row = res.resto[0];
            var disc = row.disc;
            self.discPercent = row.disc
            var tax = row.tax;
            var service = row.service;

            var hargaDiskon = (self.total-(disc/100*self.total));
            var hargaTax = hargaDiskon+(hargaDiskon*tax/100); 
            var hargaService = hargaTax+(hargaTax*service/100); 
            
            self.tax = (hargaDiskon*tax/100);
            self.service = (hargaTax*service/100);
            self.disc = (disc/100*self.total);
            self.gt = hargaService;
          })
      }else{
        this.resetall();
      } 
    },
    submitData(){

      const self = this;
      if(this.$cookies.get('spedrestoId')){

        const date = new Date();
        // set date
        var tahun = date.getFullYear();
        var bulan = ((date.getMonth()+1)>9) ? date.getMonth()+1 : `0${date.getMonth()+1}`; 
        var tanggal = (date.getDate()>9) ? date.getDate() : `0${date.getDate()}`;
        var newdate = self.date
        // settime
        var hours =  (date.getHours()>9) ? date.getHours() : `0${date.getHours()}`;
        var min =  (date.getMinutes()>9) ? date.getMinutes() : `0${date.getMinutes()}`;
        var sec =  (date.getSeconds()>9) ? date.getSeconds() : `0${date.getSeconds()}`;
        var times = self.time;

        var id_menu = "";
        var qty_menu = "";
        var note_menu = "";
        var id_promo = "";
        var price_menu = "";
        var error = 0;
        for(var key in this.cartData){
          var row = this.cartData[key];
          if(row.status_promo ==1){
            var datesplit = row.tgl_akhir_promo.split("-");
            var datepromo = new Date(`${datesplit[2]}-${datesplit[1]}-${datesplit[0]} ${row.waktu_akhir_promo}`);
            if(date < datepromo){
              id_menu +=row.id_menu;
              qty_menu +=row.qty;
              note_menu +=row.notes;
              id_promo +=row.id_promo;
              price_menu +=row.harga;
              
              id_menu += (key == this.cartData.length-1) ? "" : "{}";
              qty_menu += (key == this.cartData.length-1) ? "" : "{}";
              note_menu += (key == this.cartData.length-1) ? "" : "{}";
              id_promo += (key == this.cartData.length-1) ? "" : "{}";
              price_menu += (key == this.cartData.length-1) ? "" : "{}";
            }else{
              error++;
            }
          }else{
            id_menu +=row.id_menu;
            qty_menu +=row.qty;
            note_menu +=row.notes;
            id_promo +=row.id_promo;
            price_menu +=row.harga;
            id_menu += (key == this.cartData.length-1) ? "" : "{}";
            qty_menu += (key == this.cartData.length-1) ? "" : "{}";
            note_menu += (key == this.cartData.length-1) ? "" : "{}";
            id_promo += (key == this.cartData.length-1) ? "" : "{}";
            price_menu += (key == this.cartData.length-1) ? "" : "{}";
          }
        }
        if(error){
          this.$swal(
                'Error',
                'There are expired promotions in your cart',
                'error'
              )
        }else{
          const fd = new FormData();
          // this.address = (this.metode == 3) ? "" : this.address;
          fd.append('id_customer',this.$cookies.get('spedrestoId'));
          fd.append('id_resto',this.cartData[0].resto)
          fd.append('disc',this.discPercent)
          fd.append('metode_booking',this.metode)
          fd.append('date',newdate)
          fd.append('time',times)
          fd.append('address',this.address)
          fd.append('id_menu',id_menu)
          fd.append('qty_menu',qty_menu)
          fd.append('note_menu',note_menu)
          fd.append('id_promo',id_promo)
          fd.append('price_menu',price_menu)
          
          this.submitCart(fd).then(res =>{
            if(!res.error){
                self.$swal(
                  'Success',
                  'Booking has been saved',
                  'success'
              )
              self.$swal({
                title: 'Success',
                text: "Booking has been saved",
                type: 'success',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Ok',
              }).then((result) => {
                if (result.value) {
                  self.$router.push({ name: 'booking'})
                }
              })
              self.resetCart();
              self.resetall();
            }else{
              this.$swal(
                'Error',
                'There some trouble when saving data , please try again',
                'error'
              )
            }
          })
        }
      }else{
        self.$swal({
          title: '',
          text: "You must loged in to create Booking , click ok to return to the main page to log in",
          type: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Ok',
          cancelButtonText: 'Cancel'
        }).then((result) => {
          if (result.value) {
            
            self.$router.push({ name: 'home'})
          }
        })
      }

    },  
    resetall(){
      this.metode=3;
      this.address='';
      this.total= 0;
      this.data=[];
      this.filter="";
      this.datafilter=[];
      this.discPercent=0;
      this.qty=0;
      this.tax=0;
      this.service=0;
      this.disc=0;
      this.gt=0;
    },
    deleteMenu(id_menu){
      console.log(id_menu);
      var x = this.cartData.filter(row => row.id_menu != id_menu)
      this.reCreate(x);
      this.onload();
    }
  }
}
</script>
<style lang="scss" scoped>
$merah : #e74c3c;
.menu{
  display: table;
  font-weight: normal;
  padding: 10px 0;
  border-bottom: 1px solid #c0c0c0;
  width: 100%;
  position: relative;
  & img.img-menu{
    height: 55px;
    width: 55px;
    object-fit: cover;
    margin-right: 15px;
    float: left;
  }
  & .deletemenu{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: $merah
  }
}

  section{
    font-family: 'Roboto Condensed', sans-serif;

  }
  .wrap-content{
    min-height: calc(100vh - 35px);
    background: #eff1f7;
  }
  .logo{
    top: 50%;
    bottom:unset;
    transform: translateY(-50%);

  }
  .search-bar *{
    margin: 0 !important;
  }
  .card-content{
    width: 100%;
    height: 100%;
    padding: 15px !important;
    & .totalbox{
      border-bottom: 1px solid #c0c0c0;
      margin: 10px 0;
      & .numberTotal{
        font-size: 30px !important;
        margin-top: 20px;
      }
    }
    & *{
      display:block;
    }
    & .footer-menu{
      margin-top: 20px;
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-wrap: wrap;
    }
  }
  .buttonpanel{
    background: $merah;
    position: absolute;
    bottom: 16px;
    border-radius: 50px;
    right: 22px;
    & img{
      height: 20px;
      width: 20px;
      margin: 10px;
    }
  }
  @media only screen and (max-width: 576px) {
    .menu{
      font-size: 12px;
      & img.img-menu{
        height: 45px;
        width: 45px;
      }
    }
     .form-check label{
       margin-top: 5px;
       font-size: 12px;
     }
  }
</style>


